# Dependencies
node_modules/

# Build outputs
dist/
build/
*.cjs
*.mjs

# Environment variables
.env
.env.local
.env.production

# Logs & cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.vite/

# OS files
.DS_Store
Thumbs.db
